.navbar {
  font-size: 2rem;
  border-bottom: 2px solid #0f0f0f;
  margin-bottom: 5rem;
  background-color: #000;
}

.navbar h2 {
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.Home {
  color: #97ce4c;
  font-family: "Bangers";
}

.Home:hover {
  color: #01b4c6;
}
