* {
  margin: 0;
  font-family: "Get Schwifty";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #000;
  overflow-x: hidden;
}

/* Font */
@font-face {
  font-family: "Get Schwifty";
  src: url("./assets/GetSchwifty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body::before,
body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

/* Larger Particles */
body::before {
  background:
    radial-gradient(circle at 5% 8%, white 0 1px, transparent 2px),
    radial-gradient(circle at 12% 32%, white 0 1.5px, transparent 2.5px),
    radial-gradient(circle at 20% 15%, white 0 1px, transparent 2px),
    radial-gradient(circle at 31% 7%, white 0 1.5px, transparent 2.5px),
    radial-gradient(circle at 44% 20%, white 0 1px, transparent 2px),
    radial-gradient(circle at 57% 10%, white 0 1.5px, transparent 2.5px),
    radial-gradient(circle at 69% 25%, white 0 1px, transparent 2px),
    radial-gradient(circle at 81% 12%, white 0 1.5px, transparent 2.5px),
    radial-gradient(circle at 94% 8%, white 0 1px, transparent 2px),
    radial-gradient(circle at 8% 52%, white 0 1.5px, transparent 2.5px),
    radial-gradient(circle at 25% 68%, white 0 1px, transparent 2px),
    radial-gradient(circle at 39% 48%, white 0 1.5px, transparent 2.5px),
    radial-gradient(circle at 52% 72%, white 0 1px, transparent 2px),
    radial-gradient(circle at 67% 57%, white 0 1.5px, transparent 2.5px),
    radial-gradient(circle at 83% 68%, white 0 1px, transparent 2px),
    radial-gradient(circle at 95% 51%, white 0 1.5px, transparent 2.5px);

  background-color: #000;
}

/* Small Particles */
body::after {
  opacity: 0.9;

  background-image:
    radial-gradient(circle, white 0 0.8px, transparent 1px),
    radial-gradient(circle, white 0 0.6px, transparent 1px),
    radial-gradient(circle, white 0 1px, transparent 1.5px);

  background-size:
    97px 113px,
    137px 149px,
    181px 167px;

  background-position:
    10px 20px,
    40px 70px,
    80px 30px;
}
